// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #084b20;
  --ion-color-primary-rgb: 8,75,32;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #07421c;
  --ion-color-primary-tint: #215d36;

  --ion-color-secondary: #158538;
  --ion-color-secondary-rgb: 21,133,56;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #127531;
  --ion-color-secondary-tint: #2c914c;

  --ion-color-tertiary: #fcdd30;
  --ion-color-tertiary-rgb: 252,221,48;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #dec22a;
  --ion-color-tertiary-tint: #fce045;

  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45,211,111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255,196,9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235,68,90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,36,40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146,148,156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,245,248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;


  --ion-color-alert: #ffba49;
  --ion-color-accent: #158538;
  --ion-color-bg-grey: #efefef;

  .ion-color-bg-alert {
    --ion-color-base: #ffba49;
    --ion-color-base-rgb: 255, 186, 73;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 0, 0, 0;
    --ion-color-shade: rgb(226, 162, 59);
    --ion-color-tint: #ffba49;
  }
  .ion-color-bg-grey {
    --ion-color-base: #efefef;
    --ion-color-base-rgb: 239, 239, 239;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 0, 0, 0;
    --ion-color-shade: #e7cfcf;
    --ion-color-tint: #efefef;
  }
  .ion-color-accent {
    --ion-color-base: #ea9b3e;
    --ion-color-base-rgb: 234, 155, 62;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 0, 0, 0;
    --ion-color-shade: #ffc684;
    --ion-color-tint: #ea9b3e;
  }
  .ion-color-danger {
    --ion-color-base: #ff595e;
    --ion-color-base-rgb: 245, 61, 61;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 255, 255, 255;
    --ion-color-shade: #d33939;
    --ion-color-tint: #f25454;
  }
}
